*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*=============================================
=            SECTION 1            =
=============================================*/
.correo-section1{
    height: 90vh;
}
.correo-section1-titulo{
    max-width: 950px;
    display: grid;
    margin: auto;
    grid-template-columns: 1.4fr .6fr;
    grid-gap: 0 20px;
    padding-top: 20px;
}
        .correo-section1-titulo h1{
            color: white;
            font-size: 40px;
            align-self: center;
            box-shadow: 0px 5px 7px -2px rgba(0,0,0,.4);
            justify-self: end;
            padding: 10px;
        }
        .correo-section1-titulo img{
            width: 40%;
            order: 2;
        }
.correo-section1-titulo:hover img{
    animation:rotar-correo 1s alternate;
}

.correo-section1-contenido{
    max-width: 950px;
    margin: auto;
    display: grid;
    grid-template-columns: .2fr .2fr 1fr;
    box-shadow: -4px 4px 6px 3px rgba(0,0,0,.6);
    position: relative;
    top: 70px;
}
        .c-1,
        .c-2,
        .c-3{
            padding: 60px;
        }
        .c-1{
            background: #0c8192;
            position: relative;
        }
                .c-logo{
                    width: 80px;
                    position: absolute;
                    top: 10px;
                    left: 20px;
               }
                        .c-logo img{
                            width: 100%;
                        }
                .c-img{
                    width: 50px;
                }
                        .c-img img{
                            width: 100%;
                            position: absolute;
                            left: 100%;
                            top: 24%;
                            box-shadow: -4px 4px 6px 3px rgba(0,0,0,.6);
                            background: #0c8192;
                            z-index: 1;
                            padding: 20px;
                            border-radius: 50%;
                        }

        .c-2{
            clip-path: polygon(100% 0, 46% 100%, 100% 100%);
            -webkit-clip-path: polygon(100% 0, 46% 100%, 100% 100%);
            -moz-clip-path: polygon(100% 0, 46% 100%, 100% 100%);
            background: white;

        }
        .c-3{
            background: white;
            padding-left:  100px;
            color: #0c8192;
            margin-left: -1px;
        }
                .c-3-titulo{
                    display: grid;
                    grid-gap: 5px 0;
                    grid-template-columns: auto 1fr;
                }
                        .c-3-titulo h2:nth-child(2){
                            font-size: 30px;
                            align-self: center;
                            color: #004a72;
                        }
                        .c-3-titulo h2:nth-child(1){
                            align-self: center;
                            font-weight: 300;
                            color: #004a72;
                        }
                        .c-3-titulo h3{
                            grid-column: 1/3;
                            font-weight: 300;
                            color: #004a72;  
                            font-size: 16px;                          
                        }
                .c-3-linea{
                    width: 10%;
                    height: 3px;
                    background: #004a72cc;
                    margin: 10px 0;
                }
                .c-3-contenido{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 0 10px;
                    margin-top: 45px;
                }
                        .c-3-contenido-item{
                            text-align: left;
                            background: #c0c0c059;
                            border-radius: 12px;
                            justify-self: start;
                            padding-right: 20px;
                        }
                                .c-3-contenido-item i{
                                    padding: 5px;
                                    border-radius: 50%;
                                    background: #0c8192;
                                    color: white;
                                }
                                .c-3-contenido-item p{
                                    display: inline-block;
                                    color: #004a72;                            
                                    font-size: 15px;
                                    font-weight: 300;
                                }
                .c-3-redes{
                    margin-top: 40px;
                    display: grid;
                    grid-template-columns: repeat(4, 20px);
                    grid-gap: 0 20px;
                }
                        .c-3-redes a{
                            text-align: center;
                            align-self: center;
                        }
                        .c-3-redes i{
                            width: 30px;
                            height: 30px;
                            background: #c0c0c059;
                            border-radius: 50%;
                            color: #0c8192;
                            padding: 5px;
                            align-self: center;
                            transition: .3s;
                            line-height: 20px;
                        }
                        .c-3-redes i:hover{
                            background: #0c8192;
                            color: white;
                        }
/*=====  End of SECTION 1  ======*/

/*=============================================
=           SECTION 2            =
=============================================*/
.correo-section2{
    max-width: 1000px;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 0 50px;
    margin: auto;
}
        .c2-imagen{
            width: 500px;
            height: 400px;
            position: relative;
        }

                .c2-imagen-img{
                        background: url("../img/img-correo.png");
                        background-repeat: no-repeat;
                        background-size: 100%;
                        width: 100%;
                        position: relative;
                        height: 100%;
                        opacity: .7; 
                }
                        .c2-imagen-hotmail{
                            top: 10%;
                            left: 4%;
                            background: #0c8192;
                            position: absolute;
                            padding: 20px;
                            opacity: 0.9;
                            border-radius: 20px;
                            transition: .3s;

                        }
                        .c2-imagen-corporativo{
                            padding: 20px;
                            background: #10aac1;
                            opacity: 0.9;
                            position: absolute;
                            top: 45%;
                            border-radius: 20px;
                            left: 18%;
                            transition: .3s;
                        }
                        .c2-imagen-corporativo:hover,
                        .c2-imagen-hotmail:hover{
                            transform: scale(1.1);
                        }
                                .c2-imagen-hotmail h2:nth-child(2),
                                .c2-imagen-corporativo h2:nth-child(2){
                                    font-size: 25px;
                                    color: white;
                                    opacity: 1;


                                }
                                .c2-imagen-hotmail h2:nth-child(1),
                                .c2-imagen-corporativo h2:nth-child(1){
                                    font-size: 15px;
                                color: #00000080;

                                }
                        .c2-imagen img:nth-child(3){
                                position: absolute;
                                top: 39%;
                                left: 0;
                                width: 20%;
                        }
                        .c2-imagen img:nth-child(4){
                                position: absolute;
                                top: 20%;
                                right: 10%;
                                width: 20%;
                        }

        .c2-descripcion{
                    text-align: center;
                    position: relative;
        }
                .c2-descripcion h2{
                    font-size: 30px;
                    margin-bottom:  50px;
                    color: #10aac1;
                }
                .c2-descripcion ul{
                    list-style: none;
                }
                        .c2-descripcion li{
                            margin-bottom: 20px;
                            color: #004a72;
                        }
                        .c2-descripcion li:hover i{
                            animation:rotar-correo 1s alternate;

                        }
                                .c2-descripcion li i{
                                    margin-right: 10px;
                                }
@keyframes rotar-correo{
    0%{transform: rotate(0deg);}
    20%{transform: rotate(20deg);}
    40%{transform: rotate(-25deg);}
    60%{transform: rotate(25deg);}
    80%{transform: rotate(-20deg);}
    100%{transform: rotate(0deg);}
}
/*=====  End ofSECTION 2  ======*/
/*=================================

=            SECTION 3            =
=================================*/
.correo-section3-titulo{
    margin-bottom: 6%;
}
.correo-section3-planes .plan{
    margin: 0;  
}
.correo-section3-planes .avanzado .plan-nombre{
    width: 95%;
}
.correo-section3-planes .avanzado{
    margin-top: -25px;
}
.correo-section3-planes .avanzado span{
    display: block;
}
.correo-section3-planes .avanzado h3{
    font-size: 30px;
    text-align: center;
}
.correo-section3-planes .avanzado .liston{
    width: 150px;
    font-size: 15px;
    background: #c11052;
}
.correo-section3-planes .avanzado .liston:before{
    left: 42px;
}
.correo-section3-planes .avanzado:hover .liston:before{
    transform: rotate(360deg);
}




/*=====  End of SECTION 3  ======*/

/*==================================
=            RESPONSIVE            =
==================================*/

@media only screen and (max-width:1000px){
    .correo-section1{
        height: 650px;
    }
    .correo-section1-contenido{
        max-width: 600px;
    }
    .correo-section1-titulo{
        display: flex;
        justify-content: center;
    }
    .correo-section1-titulo img{
        width: 20%;
    }
    .correo-section1-titulo h1{
        font-size: 25px;
    }
    .c-1, .c-2, .c-3{
        padding: 30px;
    }
    .c-2{
        display: none;
    }
    .c-logo{
        width: 70px;
        top: 10px;
        left: 15px;
    }
    .c-img img{
        width: 80%;
        left: 13%;
        top: 30%;
        padding: 10px;
    }
    .c-3-titulo h2:nth-child(2){
        font-size: 25px;
    }
    .c-3-titulo h2:nth-child(1){
        font-size: 20px;
    }
    .c-3-titulo h3{
        font-size: 15px;
    }
    .c-3-contenido-item{
        padding-right: 5px;
    }

    .correo-section2{
        grid-template-columns: 1fr;
    }
    .c2-imagen{
       order: 2;
       margin: auto;
    }
    .correo-section3-planes .plan.negocio{
        justify-self: center;
        padding: 30px 70px;
    }
}
@media only screen and (max-width:600px){
    .correo-section1{
        height: 500px;
    }
    .correo-section1-contenido{
        max-width: 350px;
        grid-template-columns: 1fr;
        top: 40px;
    }
            .c-img, .c-2{
                display: none;
            }
    .correo-section1-titulo{
        display: flex;
        justify-content: center;
    }
    .correo-section1-titulo img{
        width: 20%;
    }
    .correo-section1-titulo h1{
        font-size: 25px;
    }
    .c-1, .c-2, .c-3{
        padding: 30px;
    }
    .c-2{
        display: none;
    }
    .c-logo{
        width: auto;
        top: 10px;
        left: 15px;
    }
    .c-logo img{
        width: 35%;
    }
    .c-img img{
        width: 80%;
        left: 13%;
        top: 30%;
        padding: 10px;
    }
    .c-3-titulo h2:nth-child(2){
        font-size: 25px;
    }
    .c-3-titulo h2:nth-child(1){
        display: none;
    }
    .c-3-titulo h3{
        font-size: 15px;

    }
    .c-3-contenido-item p{
        font-size: 12px;
    }
    .c-3-contenido{
        margin-top: 0;
        grid-template-columns: 1fr;
        grid-gap: 20px 10px;
    }
    .c-3-contenido-item{
        padding-right: 5px;
    }
    .c-3-redes{
        margin-top: 20px;
    }

    .correo-section2{
        grid-template-columns: 1fr;
        max-width: 350px;
    }
    .c2-imagen{
       order: 2;
       margin: auto;
       width: 350px;
       height: 280px;
    }
    .correo-section3-planes .plan.negocio{
        justify-self: initial;
    }
    .c2-descripcion h2{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .c2-imagen-hotmail,
    .c2-imagen-corporativo{
    
        padding: 10px;
    }
    .c2-imagen-hotmail h2:nth-child(2), 
    .c2-imagen-corporativo h2:nth-child(2){
        font-size: 15px;
    }
    .c2-imagen-hotmail h2:nth-child(1), 
    .c2-imagen-corporativo h2:nth-child(1){
        font-size: 12px;
    }
    .c2-descripcion li{
        font-size: 12px;
        margin-bottom: 15px;
    }
}

/*=====  End of RESPONSIVE  ======*/
